* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --second-color: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
    color: var(--primary-color);
}

button,
input {
    outline: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --width: 113px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    min-width: var(--width);
    height: 58px;
    border-radius: 8px;
    background: var(--primary-color);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.title {
    display: inline-block;
    position: relative;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding-left: 30px;
}

.title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-heading {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.section-desc {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* Header */
.header {
    padding: 42px 0 16px;
}

.header__fixed {
    position: sticky;
    z-index: 2;
    top: -20px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 46px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar-item__link {
    position: relative;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 8px 24px;
}

.navbar-item__link.navbar-item__link--active::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 22px;
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.navbar-item__link:hover,
.navbar-item__link--active {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
    color: var(--primary-color);
}

.header-cta {
    margin-left: auto;
}

.header-cta__login {
    padding: 8px 28px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header-cta__signup {
    height: 54px;
}

/* Hero */
.hero {
    padding: 60px 0 60px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
}

.hero__heading-value {
    color: var(--second-color);
}

.hero__desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.search__form {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.search__form-input {
    padding: 10px 24px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border-color: transparent;
    color: #696d76;
    font-size: 1.8rem;
}

.search__form-input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.search__form-submit {
    --width: 149px;
    color: #ffffff;
    background: var(--second-color);
    display: block;
    height: 58px;
    margin-right: 8px;
    border: 1px solid var(--second-color);
}

.hero__label {
    display: inline-block;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero__wrap {
    flex: 1;
    position: relative;
}

.hero__wrap-img {
    width: 296px;
    height: 562px;
    object-fit: cover;
}

.hero__deposit {
    --top: 113px;
    display: flex;
    align-items: center;
    position: absolute;
    top: var(--top);
    left: -100px;
    padding: 14px 10px;
    width: 174px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    animation: rollDownUp 1.4s linear infinite;
}

.hero__deposit-icon {
    margin-right: 8px;
}

.hero__deposit-name {
    margin-right: 19px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__deposit-price {
    color: #4ab5e3;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.hero__interest {
    --right: -10px;
    --top: 127px;
    position: absolute;
    right: var(--right);
    top: var(--top);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
    animation: swing 1.4s linear infinite;
}

.hero__interest-value {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__interest-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.hero__secured {
    --right: 104px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14px;
    right: var(--right);
    bottom: 61px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    animation: sway 1.4s linear infinite;
}

.hero__secured-img {
    margin-right: 12px;
}

.hero__secured-value {
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.hero__secured-label {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

/* Work */
.work {
    padding: 100px 0;
}

.work__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 238px;
}

.work__media {
    position: relative;
}

.work__media-wrap {
    position: relative;
    width: 456px;
    height: 619px;
}

.work__media-wrap::after {
    left: 0;
    right: 0;
    bottom: -3px;
    position: absolute;
    content: url(../img/work-02.png);
}

.work__media-icon {
    --top: 76px;
    position: absolute;
    z-index: 1;
    top: var(--top);
    right: 56px;
    animation: rollDownUp 1.4s linear infinite;
}

.work__media-img {
    position: relative;

    z-index: 1;
    display: block;
    width: 100%;
}

.work__media-activated {
    --right: -107px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    right: var(--right);
    bottom: 96px;
    padding: 15px;
    width: 226px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    animation: sway 1.4s linear infinite;
}

.work__media-info {
    margin-left: 10px;
}

.work__media-title {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__media-label {
    margin-top: 5px;
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.work__list {
    margin-top: 70px;
}

.work-item + .work-item {
    margin-top: 30px;
}

.work-item__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__desc {
    margin-top: 16px;
}

/* Payment */
.payments {
    padding: 60px 0;
}

.payment__inner {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 130px;
}

.payment__desc {
    font-size: 1.8rem;
    margin-top: 20px;
    width: 470px;
}

.payment__list,
.transfer-list {
    margin-top: 28px;
}

.payment__item,
.transfer__item {
    position: relative;
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
    padding-left: 24px;
}

.payment__item::before,
.transfer__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: #7264d6;
    border-radius: 50%;
}

.payment__cta,
.transfer__cta {
    --width: 149px;
    margin-top: 38px;
}

.payment__media {
    position: relative;
}

.payment__media-img {
    width: 482px;
    object-fit: cover;
}

.payment__send {
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.payment__send-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;

    color: #da6464;
    background: rgba(218, 100, 100, 0.1);
    box-shadow:
        -4px -2px 16px 0 #fff,
        4px 2px 16px 0 rgba(136, 165, 191, 0.48);
    margin-right: 14px;
}

.payment__send-title {
    color: #212832;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
}

.payment__send-label {
    margin-right: 67px;
}

.payment__send-label,
.payment__send-time {
    margin-top: 4px;
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.payment__send-value {
    color: #212832;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
}

.payment__send-time {
    text-align: right;
}

.payment__income {
    position: absolute;
    right: -88px;
    bottom: -55px;
    padding: 14px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.payment__income-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}

.payment__income-text {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.payment__income-price {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Transfer */
.transfer {
    padding: 100px 0;
}

.transfer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transfer__media {
    position: relative;
    flex-shrink: 0;
    width: 40%;
}

.transfer__media-wrap {
    /* position: relative; */
    padding: 0 20px;
}

.transfer__media-wrap::before {
    content: "";
    position: absolute;
    display: inline-block;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: #92c2c2;
    border-radius: 12px;
}

.transfer__media-wrap::after {
    content: "";
    position: absolute;
    display: inline-block;
    z-index: -1;
    overflow: hidden;
    bottom: 60px;
    width: calc(100% + 1px);
    height: 340px;
    background: #92c2c2;
    transform: skewY(-10deg);
    border-radius: 12px;
    border-top-right-radius: 12px;
}

.transfer__media-img {
    display: block;
    width: 100%;
}

.transfer__media-body {
    position: absolute;
    bottom: 57px;
    right: -107px;
    padding: 28px;
    width: 281px;
    height: 220px;
    border-radius: 6px;
    background: #fff;
    filter: drop-shadow(0 44px 48px rgba(0, 0, 0, 0.1));
}

.transfer__media-heading {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.transfer__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.transfer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
    cursor: pointer;
}

.transfer-item:last-child {
    background-color: #f9ea63;
}

.transfer__media-inner {
    position: absolute;
    top: -35px;
    right: -26px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: #7264d6;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
    animation: swing 1.4s linear infinite;
}

.transfer__heading {
    width: 470px;
}

.transfer__desc {
    width: 470px;
    margin-top: 20px;
}

/* Clients */
.clients {
    padding: 60px 0;
}

.client__top {
    text-align: center;
}

.client__desc {
    margin: 18px auto 0;
    width: 435px;
}

.client__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    overflow: hidden;
}

.client-item {
    flex-shrink: 0;
    display: flex;
    width: calc(50% - 15px);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.client-comments {
    margin-top: 70px;
}

.client-item__wrap {
    position: relative;
    width: 570px;
    height: 254px;
    padding: 42px 28px;
    background-color: #fff;
    border: 2px solid #dfe2e8;
    border-radius: 8px;
    margin-bottom: 30px;
}

.client-item__wrap::after {
    position: absolute;
    bottom: -54px;
    left: 48%;
    transform: translateX(-50%);
    content: "";
    border: 1px solid red;
    border-color: transparent #dfe2e8 #dfe2e8 transparent;
    width: 60px;
    height: 60px;
    rotate: 45deg;
    background-color: #fff;
}

.client-item__wrap:hover {
    border-color: #fff;
    background: #fff;
    filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
}

.client-item__wrap:hover::after {
    border-color: transparent #fff #fff transparent;
}

.client-item__quote {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 154.545% */
}

.client-item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
}

.client-item__media {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #439f90;
    padding-top: 11px;
    overflow: hidden;
}

.client-item:first-child .client-item__media {
    background: #4ab5e3;
}

.client-item__img {
    border-radius: inherit;
    display: block;
    max-width: 100%;
    object-fit: top center;
}

.client-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.client-item__occupation {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}

.dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.dot--active {
    background: #7264d6;
    border: 1px solid #7264d6;
}

/* Blogs */
.blogs {
    padding: 100px 0;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__inner {
    width: 37%;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 18px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog-item:hover {
    border-color: #fff;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
}

.blog-item__img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.blog-item__info {
    margin-left: 22px;
}

.blog-item__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__heading {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}

.blog-item__link:hover {
    color: #7264d6;
}

@keyframes sway {
    0% {
        right: var(--right);
    }

    50% {
        right: calc(var(--right) - 24px);
    }

    100% {
        right: var(--right);
    }
}

@keyframes rollDownUp {
    0% {
        top: var(--top);
    }

    50% {
        top: calc(var(--top) - 24px);
    }

    100% {
        top: var(--top);
    }
}

@keyframes swing {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 20deg;
    }

    50% {
        rotate: 0deg;
    }

    75% {
        rotate: -20deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes wobbling {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
